#map {
    height: 600px;
}

#menu {
    position:absolute;
    padding:5px;
    width:400px;
    height:155px;
    background-color: white;
    top:400px;
    left:50px;
    border: 2px solid white;
    border-radius: 10px;
}

#map-wrapper{
    position:relative;
}

#atualizar {
    display:inline;
    margin-top: 10px;
    float:right;
}

#texto_atualizacao {
    display:inline-block;
    padding-top: 15px;
}

#colocadas {
    font-weight: bold;
}